<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://ns303093.ovh.net:3306/ebjava?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">usr_eb</property>
    <property name="hibernate.connection.password">gYsiI9TW0</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="tables/EbCity.hbm.xml"/>
    <mapping resource="tables/Typeclient.hbm.xml"/>
    <mapping resource="tables/EbCountry.hbm.xml"/>
    <mapping resource="tables/EbReleventempdate.hbm.xml"/>
    <mapping resource="tables/EbCli.hbm.xml"/>
    <mapping resource="tables/EbEvents.hbm.xml"/>
    <mapping resource="tables/EbTravelfees.hbm.xml"/>
    <mapping resource="tables/Employees.hbm.xml"/>
    <mapping resource="tables/EbWorktimetable.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
